:ruby
  @content_component = {
    name: @component_name,
    data: {data: @component_data || {}},
    layout: @component_layout || 'AsideLayout'
  }

  @current_user_info = current_user.blank? ? {} : DataFormer.new(current_user).data

  current_role = session[:current_role].to_s

  role_menus_data = DataFormer.new(current_user)
    .logic(:role_menus)
    .data[:role_menus][current_role]

:javascript
  (function(){
    window.file_part_upload_dom_data = fd = #{FilePartUpload.get_dom_data.to_json};
    window.$$browse_btn_data = {
      'data-qiniu-domain':        fd.qiniu_domain,
      'data-qiniu-base-path':     fd.qiniu_base_path,
      'data-qiniu-uptoken-url':   fd.qiniu_uptoken_url,
      'data-qiniu-callback-url':  fd.qiniu_callback_url,
    };

    window.current_role = #{current_role.to_json}
    window.role_menus_data = #{role_menus_data.to_json}

    window.current_user = #{@current_user_info.to_json};
    window.content_component = #{@content_component.to_json};
  })();