!!!
%html
  %head
    %meta{:'http-equiv' => 'Content-Type', content: 'text/html; charset=UTF-8'}
    %meta{:'http-equiv' => 'X-UA-Compatible', content: 'IE=edge, chrome=1'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %meta{name: 'renderer', content: 'webkit'}
    %meta{name: 'action-cable-url', content: '/cable'}

    %title 正道中医

    = csrf_meta_tags

    = stylesheet_link_tag :zhengdao, :'data-turbolinks-track' => true
    = javascript_include_tag :zhengdao, :'data-turbolinks-track' => true

  %body
    :ruby
      content_component = {
        name: @component_name,
        data: {data: @component_data || {}},
        layout: @component_layout || 'AppLayout'
      }

      current_user_info = current_user.blank? ? {} : {
        id: current_user.id.to_s,
        email: current_user.login,
        name: current_user.name
      }

    :javascript
      window.current_user = #{current_user_info.to_json}
      window.content_component = #{content_component.to_json}

    = react_component content_component[:layout]