!!!
%html{ lang: "zh" }
  %head
    %meta{ content: "text/html; charset=utf-8", http:{ equiv: "Content-Type" } }
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}

    %title 正道中医信息系统

    = csrf_meta_tags

    = stylesheet_link_tag :zhengdao, :'data-turbolinks-track' => true
    = javascript_include_tag :zhengdao, :'data-turbolinks-track' => true

    :javascript
      (function(){
        window.file_part_upload_dom_data = fd = #{FilePartUpload.get_dom_data.to_json};
        window.$$browse_btn_data = {
          'data-qiniu-domain':        fd.qiniu_domain,
          'data-qiniu-base-path':     fd.qiniu_base_path,
          'data-qiniu-uptoken-url':   fd.qiniu_uptoken_url,
          'data-qiniu-callback-url':  fd.qiniu_callback_url,
        }
      })();

  %body.manager

    :ruby
      data = DataFormer.new(current_user).logic(:role_scenes).data
      role_scenes = data[:role_scenes]
      role_strs = data[:role_strs]
      current_role = session[:current_role]

      manager_sidebar_data = {
        current_func: @current_func,

        dashboard: {
          id: 'dashboard',
          name: '总控面板',
          icon: 'dashboard',
          url: "/?role=#{current_role}"
        },

        role_scenes: role_scenes,
        role_strs: role_strs,
        current_role: current_role
      }

      top_menu_data = {
        sign_out_url: api_sign_out_path,
        sign_out_to_url: root_path
      }

    :ruby
      content_component = {
        name: @component_name,
        data: {data: @component_data || {}},
        layout: @component_layout || 'AppLayout'
      }

      current_user_info = current_user.blank? ? {} : {
        id: current_user.id.to_s,
        email: current_user.login,
        name: current_user.name
      }

    :javascript
      window.current_user = #{current_user_info.to_json}
      window.content_component = #{content_component.to_json}
      window.current_role = #{session[:current_role].to_json}

    = react_component 'LayoutManagerSidebar', data: manager_sidebar_data
    .manager-sidebar-pusher
      = react_component 'LayoutManagerTopMenu', data: top_menu_data, current_user_data: nil, extend_nav_data: @extend_nav_data

      .manager-page-content
        .func-content.ui.segment.basic
          = react_component content_component[:layout]
          = yield